<launch>
  <rosparam command="load" file="$(find serodi_smach)/config/lights.yaml" ns="ui"/>
  
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />
  
  <node name="mapping_tool" pkg="serodi_mapping" type="check_map_closure" output="screen">
	<param name="map_dir" value="$(find serodi_app)/web/img/map" />
  </node>
  
  <node name="tf2_web_republisher" pkg="tf2_web_republisher" type="tf2_web_republisher" />
  <!--node name="smach_overall" pkg="serodi_smach" type="overall.py" output="screen" /-->
</launch>
